/* nejsme vcerejsi, pouzivame moderni box model */

*, :after, :before {
    box-sizing: border-box;
}

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
}

/* HLAVICKA */

.titulek {
    font-family: 'Raleway', serif;
    font-size: 50px;
}

.hlavicka {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("./images/island-hlavicka.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    padding: 15px;
}

.perex::after {
    content: "";
    width: 25%;
    height: 2px;
    background-color: whitesmoke;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.autor {
    color: rgb(193, 198, 202);
    font: bold;
    font-style: italic;
    padding-bottom: 30px;
}

/* MENU */

.menu {
    list-style-type: none;
    text-align: center;
    padding-right: 40px;
}

.menu li a {
    color: rgb(192, 190, 190);
    font-family: 'Raleway', serif;
    font: bold;
    text-transform: uppercase;
    text-decoration: none;
}

li {
    padding: 10px;
    border-bottom: 0.2px solid rgb(192, 190, 190);
}

/* OBSAH */

.uvod {
    margin: 50px 0;
}

h2 {
    font-family: Raleway;
    padding-left: 30px;
    margin: 40px 0;
}

h2::after {
    content: "";
    width: 90px;
    height: 5px;
    background-color: rgb(112, 150, 233);
    display: block;
    margin-left: -40px;
    margin-top: 10px;
}

p {
    padding: 0 30px;
}

img {
    width: 100%;
}

.popisek {
    font-size: 12px;
    font-family: Raleway;
    text-align: center;
    color: rgb(141, 140, 140);
    margin: 2px 0;
}

.popisek a {
    text-decoration: underline;
    color: inherit;
}

/* FOTOGALERIE */

.galerie .popisek {
    font-weight: bold;
    margin: 10px 0;
}

.galerie .popisek a, span {
    font-weight: normal;
}

/* PATICKA */

.paticka {
    color: rgb(192, 190, 190);
    background: linear-gradient(to bottom, rgb(190, 190, 190) 0%, rgb(247, 246, 246) 20%);
    font-size: 12px;
    font-weight: 700;
    padding: 30px 0;
}

a {
    color: rgb(192, 190, 190);
}

/*tablet*/

@media (min-width: 500px) {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
        margin: 30px 0;
        padding-bottom: 5px;
        padding-top: 3px;
    }
    .menu li {
        flex-grow: 1;
        border: solid 1px lightgray;
        border-left: solid 1px #f5f5f5;
    }
    .menu .posledni {
        border-right: none;
    }
    .image {
        position: relative;
        margin: 40px 0;
    }
    .image .popisek {
        position: absolute;
        color: white;
        right: 0px;
        bottom: 0px;
    }
    .galerie {
        width: 100%;
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        line-height: 0;
    }
    .galerie>* {
        flex: 0 50%;
    }
    .galerie .popisek {
        display: none;
    }
    .paticka {
        padding: 20px 0;
    }
}

/*pc*/

@media (min-width: 1000px) {
    .body {
        position: relative;
    }
    .part1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .uvod {
        margin-top: 40px;
        flex-grow: 3;
        width: 98%;
    }
    .uvod p {
        margin: 0;
    }
    .menu {
        flex-direction: column;
        width: 30%;
        text-align: left;
        flex-grow: 1;
        margin: auto;
        margin-top: 35px;
        margin-left: 35px;
        padding: 0px;
    }
    .menu li {
        border: none;
        border-bottom: 1px solid lightgray;
    }
    .menu a {
        font-size: smaller;
    }
    .hlavicka {
        height: 800px;
        flex-grow: 0;
    }
    .titulek {
        font-size: 100px;
    }
    .perex {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        padding: 0;
    }
    .odsazeni {
        width: 80%;
        box-shadow: 0px 0px 30px grey;
        background-color: white;
        position: absolute;
        left: 10%;
        top: 700px;
        z-index: 2;
    }
    h2 {
        font-size: xx-large;
    }
    h2::after {
        margin-left: -30.5px;
    }
    .galerie>* {
        flex: 0 0 33.33333333333333%;
    }
    .normal {
        position: relative;
    }
    .paticka {
        background: none;
        position: absolute;
        bottom: -150px;
        left: -50px;
        z-index: -1;
    }
    /* interaktivni galerie */
}